.SiteNavigation {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3.125rem);
  width: 20rem;
  z-index: 9;
  position: fixed;
  top: 3.125rem;
  left: 0;
  overflow: hidden;
  background-color: white;
  border-right: 1px solid rgba(153, 153, 153, 0.3);
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.45s ease;
  will-change: transform; }
  .SiteNavigation svg {
    vertical-align: top; }
  @media (min-width: 768px) {
    .SiteNavigation {
      height: calc(100% - 3.75rem);
      width: 12.5rem;
      top: 3.75rem;
      position: absolute;
      opacity: 1;
      transform: translateX(0%); } }
  @media only screen and (max-width: 1366px) and (orientation: portrait) {
    .SiteNavigation {
      height: calc(100% - 3.125rem);
      width: 20rem;
      position: fixed;
      top: 3.125rem;
      opacity: 0;
      transform: translateX(-100%); } }

.SiteNavigation.open {
  opacity: 1;
  transform: translateX(0%); }

.NavEl {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200%;
  transform: translateX(0%);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.5rem; }

.NavigationItemsContainer {
  overflow: auto; }

.PrimaryNavigation {
  margin: 0;
  padding-left: 0;
  padding-bottom: 0.9375rem; }

.PopularLinks {
  width: 50%;
  padding: 0 0 0.1875rem 0.75rem;
  margin-top: -0.1875rem; }
  .PopularLinks > ul,
  .PopularLinks > ul li {
    list-style-type: none; }
  .PopularLinks > ul {
    padding-left: 0; }
  .PopularLinks span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

.SiteNavHref {
  position: relative;
  display: flex;
  align-items: center;
  font-family: Larsseit-Regular;
  text-decoration: none;
  color: black; }
  .SiteNavHref:hover svg g path {
    fill: #c2383f; }

.SelectedSiteNavHref {
  font-family: Larsseit-Regular !important;
  color: #c2383f !important; }
  .SelectedSiteNavHref:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.5rem;
    background-color: #24d3ce; }

.PrimarySiteNavHref {
  height: 100%;
  padding: 0.1875rem 0rem 0rem 1.25rem;
  font-size: 0.8125rem;
  letter-spacing: 0.01125rem;
  text-transform: uppercase;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
  .PrimarySiteNavHref:after {
    content: "";
    position: absolute;
    top: 0.3125rem;
    right: 0;
    height: 1.375rem;
    width: 0.0625rem;
    background-color: #d9d9d9; }
  .PrimarySiteNavHref:hover {
    background-color: whitesmoke;
    color: #c2383f;
    font-family: Larsseit-Medium; }
    .PrimarySiteNavHref:hover:after {
      top: 0rem;
      height: 2rem; }

.SecondarySiteNavHref {
  height: 2.625rem;
  padding: 0.0625rem 1.25rem 0rem 2.5625rem !important;
  margin-bottom: 0.4375rem;
  font-size: 0.8125rem;
  letter-spacing: 0.01125rem;
  text-transform: uppercase; }
  .SecondarySiteNavHref:hover {
    background-color: whitesmoke;
    color: #c2383f; }

.PopularSiteNavHref {
  height: 1.75rem;
  padding: 0 0 0 0.75rem;
  margin: 0.3125rem 0;
  font-family: Larsseit-Light;
  font-size: 0.875rem;
  color: #666666; }
  .PopularSiteNavHref:hover {
    background-color: whitesmoke;
    color: #c2383f;
    font-family: Larsseit-Regular; }

.SelectedPopularSiteNavHref:before {
  content: none; }

.SelectedPaneSiteNavHref {
  font-family: Larsseit-Medium !important; }

.SVGSiteNavHref svg {
  position: absolute;
  left: 0.6875rem;
  top: 0.25rem;
  height: 2rem;
  width: 2rem; }
  .SVGSiteNavHref svg g path {
    display: block; }
    .SVGSiteNavHref svg g path:nth-of-type(1) {
      display: none; }

.SelectedSVGSiteNavHref svg g path:nth-of-type(1) {
  display: block; }
.SelectedSVGSiteNavHref svg g path:nth-of-type(2) {
  display: none; }

.SecondaryNavigation {
  width: 50%;
  padding: 1.125rem 0 0.75rem;
  border-top: 1px solid #d9d9d9;
  visibility: visible;
  opacity: 1; }

.PrimaryNavTopLevelListItemWrap {
  width: 100%;
  list-style-type: none; }
  .PrimaryNavTopLevelListItemWrap .Pane {
    visibility: hidden;
    opacity: 0; }
    .PrimaryNavTopLevelListItemWrap .Pane a {
      width: 100%; }

.PrimaryNavTopLevelListItem {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 36px;
  grid-template-columns: 1fr 36px;
  align-items: center;
  width: 50%;
  height: 2rem;
  padding: 0rem;
  margin: 0.625rem 0; }
  .PrimaryNavTopLevelListItem button {
    height: 100%;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent; }
    .PrimaryNavTopLevelListItem button:focus {
      outline: none; }
    .PrimaryNavTopLevelListItem button:hover svg rect {
      fill: #ff6e6e;
      transform: scale(1); }
    .PrimaryNavTopLevelListItem button:hover svg path {
      stroke: white; }
    .PrimaryNavTopLevelListItem button svg {
      height: 2rem;
      width: 2rem; }
      .PrimaryNavTopLevelListItem button svg rect {
        fill: white;
        transform-origin: center center;
        transform: scale(0.5);
        transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
      .PrimaryNavTopLevelListItem button svg path {
        stroke: #ff6e6e; }

.Pane {
  width: 50%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.9375rem;
  transform: translateX(100%); }
  .Pane button {
    width: 100%;
    border: none;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    color: #007a77;
    text-transform: uppercase;
    font-family: Larsseit-Medium;
    font-size: 0.75rem;
    letter-spacing: 0.015625rem; }
    .Pane button:focus {
      outline: none; }
    .Pane button svg {
      position: relative;
      top: -0.0625rem;
      left: 0.4375rem;
      height: 2rem;
      width: 2rem; }
  .Pane ul,
  .Pane ul > li {
    list-style-type: none; }
  .Pane ul {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 0 0.6875rem;
    margin: 0; }
    .Pane ul.bp__offset_ul {
      padding-top: 0.75rem; }
    .Pane ul a {
      display: block;
      padding: 0.3125rem 1.25rem;
      font-family: Larsseit-Light;
      font-size: 0.875rem;
      letter-spacing: 0rem;
      text-transform: none;
      text-decoration: none;
      color: black; }
    .Pane ul:last-of-type {
      border-bottom: none; }
  .Pane span {
    display: block;
    width: 100%;
    padding: 0.3125rem 1.25rem;
    margin-top: 0.75rem;
    font-family: Larsseit-Medium;
    font-size: 0.75rem;
    letter-spacing: 0.010625rem;
    text-transform: uppercase;
    color: #999999; }
    .Pane span:nth-of-type(1) {
      margin-top: 0;
      border: none;
      padding: 0.75rem 1.25rem;
      font-size: 1.125rem;
      font-family: Larsseit-Bold;
      text-transform: uppercase;
      color: #c2383f; }
  .Pane .bp__secondary_navigation {
    width: 100%;
    border-top: none; }
    .Pane .bp__secondary_navigation a {
      display: flex;
      align-items: center;
      height: 2.625rem;
      padding: 0.0625rem 1.25rem 0.4375rem 2.5625rem;
      font-family: Larsseit-Regular;
      font-size: 0.8125rem;
      letter-spacing: 0.01125rem;
      text-transform: uppercase; }

.SearchForm {
  width: 100%;
  z-index: 10;
  padding: 1.875rem 1.25rem 24rem;
  display: none; }
  .SearchForm.search__navigation {
    display: block;
    width: 50%;
    padding: 1.25rem 1.5rem; }
    @media (min-width: 768px) {
      .SearchForm.search__navigation {
        display: none; } }
    @media only screen and (max-width: 1366px) and (orientation: portrait) {
      .SearchForm.search__navigation {
        display: block;
        padding: 1.25rem 1.5rem; } }
  @media (min-width: 768px) {
    .SearchForm {
      width: 25.625rem;
      margin-left: 3.4375rem;
      display: none;
      padding: 0rem 1.25rem; } }
  @media only screen and (max-width: 1366px) and (orientation: portrait) {
    .SearchForm {
      width: 100%;
      display: none;
      margin-left: 0; } }
  .SearchForm label {
    position: relative; }
    .SearchForm label svg {
      position: absolute;
      top: -0.125rem;
      left: 0.375rem;
      height: 1.1875rem;
      width: 1.1875rem; }
      .SearchForm label svg path {
        fill: #ff6e6e; }
    .SearchForm label input {
      position: relative;
      height: 2rem;
      width: 100%;
      padding: 0.125rem 0rem 0rem 1.75rem;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      border: 1px solid transparent;
      -webkit-appearance: none;
      border-bottom: 1px solid #d9d9d9;
      font-size: 1rem;
      font-family: Larsseit-Light; }

.DownloadAppPromo {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f8eee2;
  position: relative;
  z-index: 10; }
  .DownloadAppPromo div {
    margin: 1.25rem;
    display: flex; }
    .DownloadAppPromo div img {
      width: 2.625rem;
      height: 5.1875rem;
      margin-right: 1.25rem; }
    .DownloadAppPromo div div {
      margin: 0;
      flex-direction: column;
      position: relative; }
      .DownloadAppPromo div div p {
        font-family: Larsseit-Light;
        font-size: 0.75rem;
        color: #666666;
        width: 100%;
        margin: 0; }
        .DownloadAppPromo div div p span {
          display: inline-block;
          margin-top: 0rem;
          margin-right: 0.25rem;
          font-family: Larsseit-Bold;
          font-size: 0.75rem;
          color: #c2383f;
          text-transform: uppercase; }
      .DownloadAppPromo div div span {
        display: flex;
        flex-direction: row;
        margin-top: 0.9375rem; }
        .DownloadAppPromo div div span a:nth-of-type(1) {
          width: 100%;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2.5rem;
          background-color: #007a77;
          color: white;
          font-family: Larsseit-Bold;
          font-size: 0.875rem;
          letter-spacing: 0.03125rem;
          text-transform: uppercase; }
        .DownloadAppPromo div div span a:nth-of-type(2), .DownloadAppPromo div div span a:nth-of-type(3) {
          display: none; }
    @media (min-width: 768px) {
      .DownloadAppPromo div {
        position: relative;
        margin: 0.75rem; }
        .DownloadAppPromo div img {
          width: 2.125rem;
          height: 4.1875rem;
          margin-right: 0.625rem; }
        .DownloadAppPromo div div {
          padding-bottom: 40px;
          position: static; }
          .DownloadAppPromo div div p span {
            display: block;
            position: relative;
            left: initial;
            bottom: initial; }
          .DownloadAppPromo div div span {
            position: absolute;
            left: 0;
            bottom: 0;
            margin-top: 0; }
            .DownloadAppPromo div div span a {
              margin-right: 0.3125rem; }
              .DownloadAppPromo div div span a:nth-of-type(1) {
                display: none; }
              .DownloadAppPromo div div span a:nth-of-type(2), .DownloadAppPromo div div span a:nth-of-type(3) {
                display: block; }
              .DownloadAppPromo div div span a:last-of-type {
                margin-right: 0; }
              .DownloadAppPromo div div span a img {
                width: 5.25rem;
                height: 1.5625rem;
                margin-right: 0; } }
    @media only screen and (max-width: 1366px) and (orientation: portrait) {
      .DownloadAppPromo div {
        position: relative;
        margin-bottom: 1.25rem; }
        .DownloadAppPromo div img {
          width: 3.25rem;
          height: 6.625rem;
          margin-right: 1.25rem; }
        .DownloadAppPromo div div {
          padding-bottom: 0;
          position: relative;
          flex-direction: column; }
          .DownloadAppPromo div div p span {
            display: block;
            position: relative;
            left: initial;
            bottom: initial; }
          .DownloadAppPromo div div span {
            position: static;
            left: 0;
            bottom: 0;
            margin-top: 0.9375rem; }
            .DownloadAppPromo div div span a {
              margin-right: 0.3125rem; }
              .DownloadAppPromo div div span a:nth-of-type(1) {
                display: flex; }
              .DownloadAppPromo div div span a:nth-of-type(2), .DownloadAppPromo div div span a:nth-of-type(3) {
                display: none; }
              .DownloadAppPromo div div span a:last-of-type {
                margin-right: 0; }
              .DownloadAppPromo div div span a img {
                width: 5.25rem;
                height: 1.5625rem;
                margin-right: 0; } }

.SocialLinks {
  display: none; }
  .SocialLinks.social_links__navigation {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    padding-left: 0.875rem;
    border-top: 1px solid #d9d9d9; }
    @media (min-width: 768px) {
      .SocialLinks.social_links__navigation {
        display: none; } }
    @media only screen and (max-width: 1366px) and (orientation: portrait) {
      .SocialLinks.social_links__navigation {
        display: flex; } }
  @media (min-width: 768px) {
    .SocialLinks {
      display: none;
      justify-content: flex-end;
      border-right: 1px solid #e5e5e5;
      padding-right: 0.5rem; } }
  @media only screen and (max-width: 1366px) and (orientation: portrait) {
    .SocialLinks {
      display: none; } }
  .SocialLinks a {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin-right: 0.125rem; }
    .SocialLinks a svg {
      pointer-events: none;
      height: 100%;
      width: 100%; }

/*# sourceMappingURL=siteNavigation.css.map */
