$desktop-width: 768px;
$mobile-max-width: 767px;
$white: #FFFFFF;
$bump-red: #FF6E6E;
$cta-teal: #24D3CE;
$hover-teal: #299B98;
$heading-grey: #999999;
$black: #333333;
$social-yellow: #FFCC33;
$alerts-orange: #FF8E60;

$font-family-heavy: LeagueGothic;
$font-family-base: Larsseit-Light, sans-serif;
$font-family-medium: Larsseit-Medium, sans-serif;
$font-family-serif: Argos-Light, serif;
